
<hr class="featurette-divider">
<footer class="container-fluid bg-light">
  <div class="footer bg-light">
    <ul class="social-network social-circle">
      <li><a class="icoTripAdvisor" href="#" title="TripAdvisor"><i class="fa fa-tripadvisor"></i></a></li>
      <li><a class="icoTwitter" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a class="icoFacebook" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a class="icoInstagram" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>
    </ul>

  </div>
  <div class="footer bg-light">
    <p class=""><a href="#" (click)="scrollTo('navbar')" >Volver arriba</a></p>
    <p>&copy; 2019-2020 Developed by Bea Couchoud &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </div>
</footer>
