<h1 *ngIf="true" class="my-4 text-center">Usuarios</h1>
<div class="row table-responsive m-0">
<table class="col-10 mx-auto table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
      <th scope="col">Nivel</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios | slice: (activePage - 1) * itemsPerPage:(activePage - 1) * itemsPerPage + itemsPerPage;  let i=index;">
      <th> {{usuario.id_usuario}} </th>
      <td> {{usuario.nombre}} </td>
      <td> {{usuario.apellido}} </td>
      <td> {{usuario.email}} </td>
      <td> {{usuario.telefono}} </td>
      <td> {{usuario.direccion}} </td>
      <td> {{usuario.nivel}} </td>
      <td>
        <div class="row">
        <div class="col-6">
          <button class="btn btn-secondary " type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Editar
          </button>
        </div>
        <div class="custom-control custom-switch col-xs-12 col-xl-6 my-auto">
          <input type="checkbox" class="custom-control-input" id="{{'user'+i}}" checked>
          <label class="custom-control-label" for="{{'user'+i}}">Habilitado</label>
        </div>
      </div>
    </td>
    </tr>
  </tbody>
</table>
</div>
<ngb-pagination class="d-flex justify-content-center"
*ngIf="showPagination"
[pageSize]="itemsPerPage"
[collectionSize]="totalItems"
[(page)]="activePage"
></ngb-pagination>
