<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <div class="row">
      <div class="col-md-8">
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
      <div class="col-md-4">
        <a *ngIf="!isLoggedIn" class="btn btn-outline-primary mx-2" [routerLink]="['/login']">Pedir ahora</a>
        <a *ngIf="isClient" class="btn btn-primary btn-lg" role="button" href="/home#pedido">Pedir ahora</a>
      </div>
    </div>

  </div>
</div>
