<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 px-md-4 mb-3 border-bottom box-shadow">

  <a class="navbar-brand" [routerLink]="['home']">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
   aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="my-2 my-md-0 mr-md-3 navbar collapse navbar-collapse" id="navbarNavDropdown">
    <div class="d-flex justify-content-xs-center justify-content-md-start flex-column flex-md-row ">
      <a class="p-2 text-dark" href="#" (click)="scrollTo('menus')">Menús</a>
      <a class="p-2 text-dark" href="#" (click)="scrollTo('carta')">La Carta</a>
      <a *ngIf="!isLoggedIn || isClient"class="p-2 text-dark" href="#" (click)="scrollTo('contacto')">Contacto</a>
      <a *ngIf="isEmployee" class="p-2 text-dark" href="#" (click)="scrollTo('pedidos')">Pedidos</a>
      <a *ngIf="isAdmin" class="p-2 text-dark" href="#" (click)="scrollTo('usuarios')">Usuarios</a>
      <a *ngIf="isLoggedIn" class="p-2 text-dark" [routerLink]="['micuenta/' + userLogged.id_usuario]" > Mi cuenta </a>
    </div>

    <div class="d-flex align-self-end justify-content-md-end ml-auto col-12 col-md-8 pl-0">
      <a *ngIf="!isLoggedIn" class="btn btn-outline-primary mx-2" [routerLink]="['login']">Iniciar sesión</a>
      <a *ngIf="!isLoggedIn" class="btn btn-outline-secondary" [routerLink]="['registro']">Registrarse</a>


      <a *ngIf="isLoggedIn" class="btn btn-outline-danger mx-2" (click)="logout()">Cerrar sesión</a>
    </div>
  </div>

</nav>

