<!-- Default form register -->

<div class="card  col-9 col-md-8 col-lg-6 text-center my-4 mx-auto p-0 shadow-lg rounded">
  <h5 class="card-header">Registro</h5>
  <div class="card-body">

<form *ngIf="usuario == null" [formGroup]="form" class="text-center border border-light p-5" (ngSubmit)="registrarse()">

  <div class="form-row mb-4">
      <div class="col">
          <input type="text" [formControlName]="'nombre'" id="registroNombre" class="form-control" placeholder="Nombre">
      </div>

      <div class="col">
          <input type="text"  [formControlName]="'apellido'"  id="registroApellido" class="form-control" placeholder="Apellido">
      </div>
  </div>

  <input type="email" [formControlName]="'email'" id="registroEmail" class="form-control mb-4" placeholder="E-mail"  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">

  <div *ngIf=" error == true ">
    <div class="alert alert-danger mb-4 animate__animated animate__shakeX" role="alert">
      {{ msg }}
    </div>
  </div>

  <input type="password" [formControlName]="'password'" id="registroPassword" class="form-control" placeholder="Password" aria-describedby="registroPasswordHelpBlock">
  <small id="registroPasswordHelpBlock" class="form-text text-muted mb-4">
      La contraseña debe tener al menos 8 caracteres
  </small>

  <input type="number" [formControlName]="'telefono'" id="registroTelefono" class="form-control mb-4" placeholder="Número de teléfono" aria-describedby="defaultRegisterFormPhoneHelpBlock">

  <input type="text" [formControlName]="'direccion'"  id="registroDireccion" class="form-control" placeholder="Dirección">
  <span class="d-inline-block col-12 p-0" tabindex="0" data-toggle="tooltip" title="Rellena el formulario primero">
    <button class="btn btn-info my-4 btn-block" [disabled]="form.invalid" type="submit">Registrarse</button>
  </span>
</form>

<div *ngIf=" usuario != null ">
  <div class="alert alert-success mb-4 animate__animated animate__fadeIn" role="alert">
    Usuario registrado con éxito
  </div>
  <button class="btn btn-info my-4 btn-block" [routerLink] = "'/login'">Iniciar sesión</button>
</div>
</div>
</div>
<!-- Default form register -->
