<div class="container p-0 mx-0 mt-5 col-12">
  <h1 class="text-center my-4">Contacto</h1>
  <div class="d-flex justify-content-around col-8 mx-auto flex-column flex-md-row text-center">
    <p> <i class="fa fa-envelope"></i> email@ejemplo.com</p>
    <p> <i class="fa fa-phone"></i> 96 444 44 44</p>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98646.95995012826!2d-0.43155099880718945!3d39.407896888986734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f4cf0efb06f%3A0xb4a351011f7f1d39!2sValencia!5e0!3m2!1ses!2ses!4v1587755039686!5m2!1ses!2ses" width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
