<h1 class="text-center">Menús
  <button *ngIf="isAdmin" class="btn btn-primary ml-2" type="button" data-toggle="collapse"
    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Crear menú
  </button></h1>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <app-menuform></app-menuform>
  </div>
</div>
<div class="d-flex flex-row flex-wrap justify-content-xs-around justify-content-md-between justify-content-lg-around">

  <div *ngFor="let menu of menus; let i = index;" class="card mx-auto my-4" style="width: 18rem;">
    <img src="{{ menu.imagen }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{ menu.nombre_menu }}</h5>
      <p class="card-text"> {{ menu.descripcion }} </p>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let plato of menu.platos" class="list-group-item"> {{ plato.nombre_plato }} </li>
    </ul>
    <div class="card-body col-12">
      <div *ngIf="isAdmin" class="row">
        <div class="col-6">
          <button class="btn btn-secondary " type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Editar menú
          </button>
        </div>
        <div class="custom-control custom-switch col-6 my-auto">
          <input type="checkbox" class="custom-control-input" id="{{'menu'+i}}" checked="{{menu.habilitado}}">
          <label class="custom-control-label" for="{{'menu'+i}}">Habilitado</label>
        </div>
      </div>
      <div *ngIf="!isAdmin" class="row">
        <h5 class="mx-auto">{{ menu.precio }} €</h5>
      </div>
    </div>
  </div>

</div>
