<div class="container">

  <form [formGroup]="form" (ngSubmit)="creaPlato()" class="form-group d-flex form-row">

    <div class="col-12 text-center" *ngIf="error === true">
      <div class="alert alert-danger mb-4 animate__animated animate__shakeX" role="alert">
        {{ msg }}
      </div>
    </div>
    <div class="col-12 text-center" *ngIf="error === false">
      <div class="alert alert-success mb-4 animate__animated animate__fadeIn" role="alert">
        {{ msg }}
      </div>
    </div>

    <div class="form-row col-12">
      <div class="col-md-5 mb-2">
        <input type="text" [formControlName]="'nombre'" placeholder="Nombre del plato" class="form-control">
      </div>

      <div class="col-md-5 mb-2" *ngIf="tiposPlato">
        <ng-select [items]="tiposPlato" [placeholder]="'Seleccione tipo'" [bindLabel]="'label'" [bindValue]="'value'"
           [formControlName]="'tipo'">
        </ng-select>
      </div>

      <div class="input-group col-md-2 mb-2">
        <input type="text" [formControlName]="'precio'" placeholder="PVP" class="form-control" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">€</span>
        </div>
      </div>
    </div>

    <div class="input-group col-12 mb-2">
      <textarea name="" [formControlName]="'descripcion'" placeholder="Descripción del plato" class="form-control px-2 col-12" rows="2"></textarea>
    </div>

    <div class="col-md-12 mt-md-4">
      <div class="form-row">
        <div class="col-12 col-md-6">
          <button type="reset" class="form-control btn btn-danger  btn-lg btn-block" (click)="cerrarPlato()">Cancelar</button>
        </div>
        <div class="col-md-6 col-12 ">
          <button type="submit" class="form-control btn btn-primary btn-lg  btn-block">Aceptar</button>
        </div>
      </div>
    </div>
  </form>
</div>
