<div class="container">
  <br>

  <form  [formGroup]="form" class="form-group d-flex form-row " (submit)="creaMenu()">

    <div class="col-12 text-center" *ngIf="error === true">
      <div class="alert alert-danger mb-4 animate__animated animate__shakeX" role="alert">
        {{ msg }}
      </div>
    </div>
    <div class="col-12 text-center" *ngIf="error === false">
      <div class="alert alert-success mb-4 animate__animated animate__fadeIn" role="alert">
        {{ msg }}
      </div>
    </div>

    <div class="col-md-6 mb-2">
      <input type="text" [formControlName]="'nombre'" placeholder="Nombre del menú" class="form-control">
    </div>
    <div class="col-md-6 mb-2">
      <input type="url" [formControlName]="'imagen'" placeholder="Añade url de imagen" class="form-control p-1">
    </div>
    <div class="col-md-12 mb-2">
      <ng-select [items]="opciones"  [formControlName]="'platos'" id="platosSeleccionados" [placeholder]="'Seleccione platos'" [bindLabel]="'nombre_plato'" [multiple]="true" >
      </ng-select>
    </div>
    <div class="input-group col-12 mb-2">
      <textarea placeholder="Descripción del menú" class="form-control px-2 col-12" name="" [formControlName]="'descripcion'" id="" rows="2"></textarea>
    </div>
    <div class="input-group col-md-6 mb-2">
      <input type="text" value="Precio real" class="form-control" aria-describedby="basic-addon1" [formControlName]="'precioReal'">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">€</span>
      </div>
    </div>

    <div class="input-group col-md-6 mb-2">
      <input type="text" [formControlName]="'precio'"  placeholder="PVP" class="form-control" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">€</span>
      </div>
    </div>
    <div class="col-md-12 mt-md-4">
      <div class="form-row">
        <div class="col-12 col-md-6">
          <button type="reset" class="form-control btn btn-danger  btn-lg btn-block" (click)="cerrarMenu()">Cancelar</button>
        </div>
        <div class="col-md-6 col-12 ">
          <button type="submit" class="form-control btn btn-primary btn-lg btn-block">Aceptar</button>
        </div>
      </div>
    </div>
  </form>
</div>
