<h1 class="text-center">La carta<button *ngIf="true" class="btn btn-primary ml-2" type="button" data-toggle="collapse"
    data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    Añadir plato
  </button></h1>

<div class="collapse" id="collapseExample2">
  <div class="card card-body">
    <app-platoform></app-platoform>
  </div>
</div>

<div class="accordion" id="carta">
  <div class="card text-center">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#entrantes"
          aria-expanded="true" aria-controls="entrantes">
          Entrantes
        </button>
      </h2>
    </div>

    <div id="entrantes" class="collapse show" aria-labelledby="headingOne" data-parent="#carta">
      <div class="card-body py-1">
        <ul class="list-group list-group-flush">

          <li *ngFor="let plato of entrantes; let i=index" class="list-group-item">
            <div class="d-flex row no-wrap">
              <p class="col-12 text-center my-auto"> {{plato.nombre_plato}} </p>

              <div *ngIf="isAdmin" class="col-12 d-flex row no-wrap justify-content-center">

                <button *ngIf="true" class="btn btn-secondary mr-2 my-auto" type="button" data-toggle="collapse"
                  data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                  Editar plato
                </button>

                <div class="custom-control custom-switch my-auto">
                  <input type="checkbox" class="custom-control-input" id="{{'plato'+i}}" checked>
                  <label class="custom-control-label" for="{{'plato'+i}}">Habilitado</label>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#arroces"
          aria-expanded="false" aria-controls="collapseTwo">
          Arroces
        </button>
      </h2>
    </div>
    <div id="arroces" class="collapse" aria-labelledby="headingTwo" data-parent="#carta">
      <div class="card-body py-1">
        <ul class="list-group list-group-flush">
          <li *ngFor="let plato of arroces; let i=index" class="list-group-item">
            <p class="col-12 text-center my-auto"> {{plato.nombre_plato}} </p>
            <div *ngIf="isAdmin" class="col-12 d-flex row no-wrap justify-content-center ">

              <button *ngIf="true" class="btn btn-secondary mr-2 my-auto" type="button" data-toggle="collapse"
                data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                Editar plato
              </button>

              <div class="custom-control custom-switch my-auto">
                <input onchange="" type="checkbox" class="custom-control-input" id="switch4" checked>
                <label class="custom-control-label" for="switch4">Habilitado</label>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#carnes"
          aria-expanded="false" aria-controls="collapseThree">
          Carnes
        </button>
      </h2>
    </div>
    <div id="carnes" class="collapse" aria-labelledby="headingThree" data-parent="#carta">
      <div class="card-body py-1">
        <ul class="list-group list-group-flush">
          <li *ngFor="let plato of carnes; let i=index"  class="list-group-item">
            <p class="col-12 text-center my-auto"> {{plato.nombre_plato}} </p>
            <div *ngIf="isAdmin" class="col-12 d-flex row no-wrap justify-content-center ">

              <button *ngIf="true" class="btn btn-secondary mr-2 my-auto" type="button" data-toggle="collapse"
                data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                Editar plato
              </button>

              <div class="custom-control custom-switch my-auto">
                <input type="checkbox" class="custom-control-input" id="switch4" checked>
                <label class="custom-control-label" for="switch4">Habilitado</label>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#pescados"
          aria-expanded="false" aria-controls="collapseThree">
          Pescados
        </button>
      </h2>
    </div>
    <div id="pescados" class="collapse" aria-labelledby="headingThree" data-parent="#carta">
      <div class="card-body py-1">
        <ul class="list-group list-group-flush">
          <li *ngFor="let plato of pescados; let i=index" class="list-group-item">
            <p class="col-12 text-center my-auto">{{plato.nombre_plato}}</p>
            <div *ngIf="isAdmin" class="col-12 d-flex row no-wrap justify-content-center ">

              <button *ngIf="true" class="btn btn-secondary mr-2 my-auto" type="button" data-toggle="collapse"
                data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                Editar plato
              </button>

              <div class="custom-control custom-switch my-auto">
                <input type="checkbox" class="custom-control-input" id="switch4" checked>
                <label class="custom-control-label" for="switch4">Habilitado</label>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#postres"
          aria-expanded="false" aria-controls="collapseThree">
          Postres
        </button>
      </h2>
    </div>
    <div id="postres" class="collapse" aria-labelledby="headingThree" data-parent="#carta">
      <div class="card-body py-1">
        <ul class="list-group list-group-flush">
          <li *ngFor="let plato of postres; let i=index" class="list-group-item">
            <p class="col-12 text-center my-auto"> {{plato.nombre_plato}} </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
