
<h1 *ngIf="true" class="my-4 text-center">Pedidos</h1>

<div class="table-responsive">
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th scope="col">#Pedido</th>
        <th scope="col">#Cliente</th>
        <th scope="col" class="d-none d-md-table-cell">Fecha</th>
        <th scope="col" class="w-25 d-none d-md-table-cell">Dirección</th>
        <th scope="col" class="d-none d-md-table-cell">Estado</th>
        <th scope="col">Precio</th>
        <th scope="col" class="d-none d-md-table-cell">Detalles</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="pedidosLista">
      <tr [ngClass]="{
        'table-warning': pedido.estado === enumEstados.PENDIENTE,
        'table-info': pedido.estado === enumEstados.ACEPTADO,
        'table-success': pedido.estado === enumEstados.ENTREGADO,
        'table-danger': pedido.estado === enumEstados.CANCELADO
        }"
        *ngFor="let pedido of pedidosLista | slice: (activePage - 1) * itemsPerPage:(activePage - 1) * itemsPerPage + itemsPerPage;  let i=index;">
        <th scope="row">{{pedido.id_pedido}}</th>
        <td>{{pedido.id_cliente}}</td>
        <td class="d-none d-md-table-cell">{{pedido.fecha|date}}</td>
        <td class="d-none d-md-table-cell">{{pedido.direccion}}</td>
        <td class="d-none d-md-table-cell">
          <div class="form-group" *ngIf="!!estados">
            <ng-select [disabled]="pedido.estado === enumEstados.CANCELADO" [items]="estados" [bindLabel]="'label'" [bindValue]="'value'" [(ngModel)]="pedido.estado"  (change)="onSelectChange($event, pedido)" [id]="'estado-' + pedido.id_pedido"   [multiple]="false" >
            </ng-select>
          </div>
        </td>
        <td>{{pedido.precio_total|currency:'EUR':'symbol'}}</td>
        <td class="d-none d-md-table-cell">
          <div *ngIf="true">
            <p *ngFor="let detalle of pedido.detalle_pedido"> {{detalle.nombre_menu}} - {{detalle.cantidad}}ud. </p>
          </div>
        </td>
        <td>
          <div class="btn-group-vertical">
          <button type="button" class="btn btn-primary d-md-none rounded-bottom mb-1" data-toggle="modal"
            data-target="#exampleModalCenter">
            Ver más
          </button>
          <button type="button" class="btn btn-danger rounded-top" data-toggle="modal"
            [attr.data-target]="'#ModalCancel'+pedido.id_pedido">
            Cancelar
          </button>
        </div>
        </td>

        <div class="modal fade" [id]="'ModalCancel'+pedido.id_pedido" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Está seguro de que quiere cancelar este pedido?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)='onCancelPedido(pedido)'>Cancelar pedido</button>
            </div>
          </div>
        </div>
      </div>

      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination class="d-flex justify-content-center"
*ngIf="showPagination"
[pageSize]="itemsPerPage"
[collectionSize]="totalItems"
[(page)]="activePage"
></ngb-pagination>



<div class="modal fade bd-example-modal-sm" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p> <b>#Pedido</b> </p> <br>
      <p>Fecha</p>
      <p>Dirección de entrega</p>
      <p>Menu x - cantidad</p>
      <p>Estado</p>
      <p>Precio</p>
    </div>
  </div>
</div>


