


<h1 class="text-center mt-4">Pide a domicilio</h1>

<form class="text-center" *ngIf="form" [formGroup]="form" (submit)="creaPedido()">
  <h5>MENÚS DISPONIBLES</h5>
  <div [formArrayName]="'detalle_pedido'" class="container mb-4">
    <div  *ngFor="let menu of menus; let i = index;" class="d-flex row col-4 mx-auto"  [formGroupName]="i">
      <div class="col-6">
        <input type="checkbox" [name]="menu.id_menu" [id]="menu.id_menu" [formControlName]="'menu'"/>
        <label [for]="menu.id_menu">{{menu.nombre_menu}}</label>
      </div>
      <div class="col-6">
        <input [formControlName]="'cantidad'"
          class="w-50"
          type="number"
          name="{{'cantidad'+i}}"
          id="{{'cantidad'+i}}"
          min="0"
          max="10"
          step="1"
        />
      </div>
    </div>

    <div class="d-flex row col-4 mx-auto border border-primary p-3">
      <div class="col-6">
        <h5>Total a pagar</h5>
      </div>
      <div class="col-6">
        <h5>xx €</h5>
      </div>
    </div>
  </div>

  <h5>DATOS CLIENTE</h5>

  <div class="container">
    <div class="d-flex row col-4 mx-auto">
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input
          [formControlName]="'nombre'"
            type="text"
            id="defaultRegisterFormFirstName"
            class="form-control"
            placeholder="First name"
          />
        </div>
        <div class="col">
          <!-- Last name -->
          <input [formControlName]="'apellido'"
            type="text"
            id="defaultRegisterFormLastName"
            class="form-control"
            placeholder="Last name"
          />
        </div>
      </div>

      <!-- E-mail -->
      <input
        type="email" [formControlName]="'email'"
        id="defaultRegisterFormEmail"
        class="form-control mb-4"
        placeholder="E-mail"
      />

      <!-- Direccion -->
      <input
        type="email" [formControlName]="'direccion'"
        id="defaultRegisterFormEmail"
        class="form-control mb-4"
        placeholder="Dirección"
      />

      <!-- fecha -->
      <input
        type="date" [formControlName]="'fecha'"
        id="defaultRegisterFormPassword"
        class="form-control mb-4"
        placeholder="Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock"
      />

      <!-- Phone number -->
      <input
        type="text" [formControlName]="'telefono'"
        id="defaultRegisterPhonePassword"
        class="form-control mb-4"
        placeholder="Phone number"
        aria-describedby="defaultRegisterFormPhoneHelpBlock"
      />
    </div>
  </div>

  <h5>FORMA DE PAGO</h5>
  <div class="container">
    <div class="d-flex row col-4 mx-auto justify-content-center">
      <!-- Default inline 1-->
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio" [formControlName]="'pago'"
          class="custom-control-input"
          id="defaultInline1"
          value="efectivo"
        />
        <label class="custom-control-label" for="defaultInline1">Efectivo</label>
      </div>

      <!-- Default inline 2-->
      <div class="custom-control custom-radio custom-control-inline">
        <input [formControlName]="'pago'"
          type="radio"
          class="custom-control-input"
          id="defaultInline2"
          value="tarjeta"
        />
        <label class="custom-control-label" for="defaultInline2">Tarjeta</label>
      </div>
    </div>
    <div class="d-flex row col-4 mx-auto border border-primary p-3">
      <div class="col-12">
        <h5>Total xx €</h5>
        <small>IVA incluido</small>
      </div>
      <div class="col-12">
        <button class="btn btn-primary my-4 btn-block"  [disabled]="!isValid" type="submit">CONFIRMAR</button>
      </div>
    </div>
  </div>
</form>
